{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<h1 class="mt-5">Exemple Database</h1>
<h1 class="mt-5">Easy Admin 3</h1>
<h2>Easy Admin 3</h2>
<h3>Easy Admin 3</h3>
<h4>Easy Admin 3</h4>
<h5>Easy Admin 3</h5>
<h6>Easy Admin 3</h6>
{% endblock %}
